[Unit]
Description=Run Acer mgmt database and configuration backup daily

[Timer]
OnCalendar=*-*-* 15:30:00
Persistent=true
Unit=acer-mgmt-db-backup.service

[Install]
WantedBy=timers.target
