[Unit]
Description=Run Acer mgmt MinIO to AWS S3 offsite backup daily

[Timer]
OnCalendar=*-*-* 16:30:00
Persistent=true
Unit=minio-offsite-s3-backup.service

[Install]
WantedBy=timers.target
